{{ define "content"}}
<tr>
  <td>
    <p style="font-size: 14px">
      We're excited to inform you that your order
      <span style="font-weight: 700"> #MAZ-{{.Reference}}</span>has been
      delivered. We hope you enjoy your purchase!
    </p>
  </td>
</tr>

<tr align="center">
  <td>
    <a href="https://mazimart.com.ng/account">
      <button
        style="
          background-color: #009cff;
          color: white;
          font-size: 1.125rem;
          border-radius: 0.5rem;
          border: none;
          padding: 0.5rem 2rem;
        "
      >
        Rate your experience
      </button>
    </a>
  </td>
</tr>

<tr>
  <td>
    <p>
      Thank you for choosing Instashop. We look forward to serving you again!
    </p>
  </td>
</tr>
{{end}}
